process {
    withName: SENTIEON_DNASCOPE {
        ext.export_args = { [
            "export SENTIEON_LICENSE=${params.sentieon_license_file ?: params.sentien_license_server};",
        ].join(' ').trim() }
        ext.driver_args = { [
            (params.interval) ? "--interval ${params.interval}" : '',
        ].join(' ').trim() }
        ext.algo_args = { [
            "--pcr_indel_model ${params.pcr_indel_model}",
            "--emit_mode ${params.emit_mode}",
            "--var_type ${params.var_type}",
            "--ploidy ${params.ploidy}",
            "--call_conf ${ params.call_conf }",
            "--emit_conf ${ params.emit_conf }",
            "--genotype_model ${ params.genotype_model }",
            (params.dbSNP) ? "-d ${params.dbSNP}" : '',
            "${params.output_basename}.${params.emit_mode == 'gvcf' ? 'g.vcf.gz' : 'vcf.gz'}",
        ].join(' ').trim() }
    }
}