process {
    withName: SENTIEON_DNASCOPE {
        ext.prefix = "${params.output_basename}"
        ext.export_args = { [
            "export SENTIEON_LICENSE=${params.sentieon_license_file ?: params.sentieon_license_server};",
        ].join(' ').trim() }
        ext.algo_args = { [
            "--pcr_indel_model ${params.pcr_indel_model}",
            "--emit_mode ${params.emit_mode}",
            "--var_type ${params.var_type}",
            "--call_conf ${ params.call_conf }",
            "--emit_conf ${ params.emit_conf }",
            "--genotype_model ${ params.genotype_model }",
            (params.dnascope_model) ? "--model ${params.dnascope_model}" : ''
        ].join(' ').trim() }
    }
    withName: SENTIEON_HAPLOTYPER {
        ext.prefix = "${params.output_basename}"
        ext.export_args = { [
            "export SENTIEON_LICENSE=${params.sentieon_license_file ?: params.sentieon_license_server};",
        ].join(' ').trim() }
        ext.algo_args = { [
            "--pcr_indel_model ${params.pcr_indel_model}",
            "--emit_mode ${params.emit_mode}",
            "--call_conf ${ params.call_conf }",
            "--emit_conf ${ params.emit_conf }",
            "--genotype_model ${ params.genotype_model }",
        ].join(' ').trim() }
    }

    withName: SENTIEON_GVCFTYPER {
        ext.prefix = "${params.output_basename}"
        ext.export_args = { [
            "export SENTIEON_LICENSE=${params.sentieon_license_file ?: params.sentieon_license_server};",
        ].join(' ').trim() }
        ext.algo_args = { [
            "--call_conf ${ params.call_conf }",
            "--emit_conf ${ params.emit_conf }",
            "--genotype_model ${ params.genotype_model }"
        ].join(' ').trim() }
        publishDir = [
                mode: 'copy',
                path: { "${params.outdir}/DNAscope_Genotyped_VCF/" },
                pattern: "*vcf.gz*"
        ]
    }
    withName: GATK_INTERVALLISTOOLS {
        ext.prefix ="${params.output_basename}.${params.action}.interval_list"
    }
    withName: BCFTOOLS_CONCAT_RENAME {
        ext.prefix = "${params.output_basename}"
        publishDir = [
                mode: 'copy',
                path: { "${params.outdir}/DNAscope_GVCF/" },
                pattern: "*vcf.gz*"
        ]
    }
}