process {
    withName: SENTIEON_DNASCOPE {
        ext.export_args = { [
            "export SENTIEON_LICENSE=${params.sentieon_license_file ?: params.sentieon_license_server};",
        ].join(' ').trim() }
        ext.algo_args = { [
            "--pcr_indel_model ${params.pcr_indel_model}",
            "--emit_mode ${params.emit_mode}",
            "--var_type ${params.var_type}",
            "--call_conf ${ params.call_conf }",
            "--emit_conf ${ params.emit_conf }",
            "--genotype_model ${ params.genotype_model }",
            "${params.output_basename}.ploidy_${ploidy}.${params.emit_mode == 'gvcf' ? 'g.vcf.gz' : 'vcf.gz'}",
        ].join(' ').trim() }
    }
    withName: SENTIEON_GVCFTYPER {
        ext.export_args = { [
            "export SENTIEON_LICENSE=${params.sentieon_license_file ?: params.sentien_license_server};",
        ].join(' ').trim() }
        ext.algo_args = { [
            "--call_conf ${ params.call_conf }",
            "--emit_conf ${ params.emit_conf }",
            "--genotype_model ${ params.genotype_model }",
            "${params.output_basename}.vcf.gz",
        ].join(' ').trim() }
        publishDir = [
                mode: 'copy',
                path: { "${params.outdir}/DNAscope_Genotyped_VCF/" },
                pattern: "*vcf.gz*"
        ]
    }
    withName: GATK_INTERVALLISTOOLS {
        ext.args = { [
            (params.non_diploid_intervals) ? "--SECOND_INPUT ${params.non_diploid_intervals}" : '',
            "-O ${params.output_basename}.${params.action}.interval_list",
        ].join(' ').trim() }
    }
    withName: PICARD_MERGEVCFS {
        ext.args = { [
            (params.sample_id) ? "| /VcfSampleRename.py ${params.sample_id}" : '',
            "| bgzip -c -@ 4 > ${params.output_basename}.${vcf1.name.endsWith('g.vcf.gz') ? 'g.vcf.gz' : 'vcf.gz'}",
            "&& tabix -p vcf ${params.output_basename}.${vcf1.name.endsWith('g.vcf.gz') ? 'g.vcf.gz' : 'vcf.gz'}"
        ].join(' ').trim() }
        publishDir = [
                mode: 'copy',
                path: { "${params.outdir}/DNAscope_GVCF/" },
                pattern: "*vcf.gz*"
        ]
    }
}