process {
    withName: SENTIEON_DNASCOPE {
        afterScript = { "rm $alignment $align_index $reference $fai $interval"}
    }
    withName: SENTIEON_GVCFTYPER {
        afterScript = { "rm $gvcf $gvcf_index $reference $fai"}
    }
    withName: PICARD_MERGEVCFS {
        afterScript = { "rm $vcf1 $vcf1_index $vcf2 $vcf2_index"}
    }
}