process {
    withName: SENTIEON_DNASCOPE {
        afterScript = { "rm $alignment $align_index $reference $fai $interval $dbsnp $dbsnp_index"}
    }
    withName: SENTIEON_GVCFTYPER {
        afterScript = { "rm $gvcf $gvcf_index $reference $fai $dbsnp $dbsnp_index"}
    }
    withName: BCFTOOLS_CONCAT_RENAME {
        $sbgAWSInstanceHint='c6i.2xlarge'
        afterScript = { "rm $vcf1 $vcf1_index $vcf2 $vcf2_index"}
    }
}